	<table class="table table-striped">
		<thead>
		</thead>
		<tbody>
			<% @articles.each do |a| %>
			  <tr>
			    <td><h4><%= link_to a.title, article_path(a) %> <%= "(" + a.link + ")" %></h4><br />
				<%= a.points.to_s + " points by " + a.show_user + ", posted " + a.date.to_time.strftime("%b %d, %Y") + " | 0 comments"%></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</br>