<b>Welcome to Haxxor News!!</b><br /><br />

<p>This is different than other news sites, refer to the <%= link_to "Hacker News Welcome Page", "http://ycombinator.com/newswelcome.html" %> for more information, it's oddly similar.</p>